/PyTorch Tutorial/Classification/flower_photos/
/PyTorch Tutorial/Classification/deep-learning-for-image-processing-pytorch_classification.zip
/PyTorch Tutorial/Classification/flower_photos.tgz
/PyTorch Tutorial/dataset/mscoco2017/val2017/
/PyTorch Tutorial/dataset/mscoco2017/val2017.zip
/PyTorch Tutorial/dataset/VOCtrainval_11-May-2012/
/PyTorch Tutorial/PyTorch official/TorchVision Object Detection Finetuning Tutorial/PennFudanPed/
/PyTorch Tutorial/PyTorch official/Training a Classifier on CIFAR10/CIFAR10/
