/dataset/mscoco2017/annotations/
/dataset/mscoco2017/annotations_trainval2017/
/dataset/mscoco2017/val2017/
/dataset/VOCtrainval_11-May-2012/

/Classification/flower_photos/
/PyTorch_Tutorial/PyTorch_official/TorchVision Object Detection Finetuning Tutorial/PennFudanPed/
/PyTorch_Tutorial/PyTorch_official/Training a Classifier on CIFAR10/CIFAR10/
/PyTorch_Tutorial/PyTorch_official/Training a Classifier on CIFAR10/cifar_net.pth
/Classification/flower_photos.tgz
